Contivo_Runtime/code/classes/com/contivo/runtime/core/messages.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
	<!-- A message file (.msg file)'s schema. -->
	
	<xs:element name = "Messages">
		<xs:complexType>
			<xs:sequence>
				<xs:element name = "SupportedLocales" type = "SupportedLocales" minOccurs = "0"/>
				<xs:element name = "include" type = "include" minOccurs = "0" maxOccurs = "unbounded"/>
				<xs:element name = "Domain" type = "Domain" maxOccurs = "unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name = "SupportedLocales"/>
	<xs:complexType name = "include">
		<xs:attribute name = "src" use = "required" type = "xs:string"/>
	</xs:complexType>
	<xs:complexType name = "Domain">
		<!-- defaultLang will specify the language of the Message and
           SMessage contents that are not inside a translation.  This
           is useful if a .msg file contains primarily foreign
           language translations of messages whose defaults are
           defined elsewhere. -->
		<xs:choice maxOccurs = "unbounded">
			<xs:element name = "Message" type = "Message"/>
			<xs:element name = "SMessage" type = "SMessage"/>
		</xs:choice>
		<xs:attribute name = "name" use = "required" type = "xs:string"/>
		<xs:attribute name = "defaultLang" type = "xs:language"/>
	</xs:complexType>
	<xs:complexType name = "Message">
		<xs:sequence>
			<xs:element name = "Translation" type = "Translation" minOccurs = "0" maxOccurs = "unbounded"/>
		</xs:sequence>
		<xs:attribute name = "name" use = "required" type = "xs:NCName"/>
		<xs:attribute name = "text" use = "optional" type = "xs:string"/>
	</xs:complexType>
	<xs:complexType name = "SMessage">
		<xs:sequence>
			<xs:element ref = "Msg" minOccurs = "0"/>
			<xs:element name = "Translation" type = "STranslation" minOccurs = "0" maxOccurs = "unbounded"/>
		</xs:sequence>
		<xs:attribute name = "name" use = "required" type = "xs:NCName"/>
	</xs:complexType>
	<xs:complexType name = "Translation"/>
	<xs:complexType name = "STranslation">
		<xs:sequence>
			<xs:element ref = "Msg"/>
		</xs:sequence>
		<xs:attribute name = "lang" use = "required" type = "xs:language"/>
	</xs:complexType>
	<xs:element name = "Msg" type = "Msg"/>
	<xs:complexType name = "Msg">
		<xs:sequence>
			<xs:element ref = "Msg" minOccurs = "0" maxOccurs = "unbounded"/>
		</xs:sequence>
		<xs:attribute name = "class" use = "required" type = "MsgClass"/>
		<xs:attribute name = "header" type = "xs:string"/>
		<xs:attribute name = "text" type = "xs:string"/>
	</xs:complexType>
	<xs:simpleType name = "MsgClass">
		<xs:restriction base = "xs:NCName">
			<xs:enumeration value = "Input"/>
			<xs:enumeration value = "Output"/>
			<xs:enumeration value = "Both"/>
			<xs:enumeration value = "Other"/>
			<xs:enumeration value = "Exception"/>
			<xs:enumeration value = "Error"/>
			<xs:enumeration value = "Warning"/>
			<xs:enumeration value = "Value"/>
			<xs:enumeration value = "Suggestion"/>
			<xs:enumeration value = "String"/>
			<xs:enumeration value = "Number"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>